.places {
  max-width: var(--content-wrap);
  margin: 0 auto;
  margin-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .places {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {

  .places {
    max-width: none;
    margin-bottom: 16px;
  }
}
