@import url(./fonts/Inter/inter.css);

.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #fff;
  font-family: 'Inter', 'Arial', sans-serif;
  --content-wrap: 984px;
}

.header {
  min-height: 52px;
  margin-bottom: 56px;
  padding: 28px 48px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
}

.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  margin-left: 18px;
  color: #fff;
}

.header__lang-link_current {
  text-decoration: underline;
}

.lead {
  margin: 0 auto;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 64px;
}

.lead__image-container {
  margin: 0 auto;
  max-width: var(--content-wrap);
}

.lead__image {
  width: 100%;
}

.lead__caption {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  max-width: var(--content-wrap);
  margin: 0 auto;
  margin-bottom: 92px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 92px 0 40px;
}

.intro__text {
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 33px;
}

.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  list-style: none;
  padding: 0;
  max-width: 690px;
}

.intro__list_span {
  font-weight: 400;
}

.gallery {
  margin-bottom: 92px;
}

.gallery__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(auto-fill, 213px);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery__image {
  width: 100%;
}

.places {
  max-width: var(--content-wrap);
  margin: 0 auto;
  margin-bottom: 12px;
}

.place {
  display: grid;
  justify-content: center;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content;
  padding-bottom: 80px;
}

.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__website {
  align-self: end;
}

.place__website_url {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAA;
  margin: 0 0 12px;
}

.place__website_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: opacity 0.5s ease;
}

.place__image {
  width: 100%;
}

.place__website_link:hover {
  opacity: 0.8;
}

.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.place__paragraph:last-of-type {
  margin-top: 26px;
}

.cover {
  width: 1184px;
  margin: 0 auto 92px;
}

.cover__link {
  text-decoration: none;
  color: #fff;
}

.cover__container {
  min-height: 740px;
  position: relative;
  background-image: url(./images/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.cover__container:hover::before {
  opacity: 0.8;
}

.cover__title {
  position: relative;
  margin: 0 auto;
  padding: 245px 0 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
}

.cover__subtitle {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 24px;
}

.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer__link {
  margin-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.5s ease;

}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1279px) {
  .page {
    --content-wrap: 928px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .gallery__grid {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 225px);
    gap: 14px;
  }

  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }

  .cover {
    width: 100%;
  }

  .cover__container {
    min-height: calc(100vw * .625);
  }

  .cover__title {
    padding: 196px 0 32px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    --content-wrap: 720px;
  }

  .header {
    padding: 28px 24px 0;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__image-container {
    max-width: none;
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    margin-bottom: 88px;
  }

  .gallery__grid {
    grid-template-columns: repeat(auto-fill, 352px);
    grid-template-rows: repeat(auto-fill, 264px);
    gap: 16px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .cover {
    margin-bottom: 88px;
  }

  .cover__title {
    padding: 115px 0 32px;
  }

  .footer {
    padding: 0 24px 24px;
  }

}

@media screen and (max-width: 767px) {
  .page {
    --content-wrap: 288px;
  }

  .header {
    padding: 16px 16px 0;
  }

  .header__logo {
    width: 142px;
  }

  .header__lang-link {
    font-size: 18px;
  }

  .intro {
    margin-bottom: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 40px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 40px;
  }

  .gallery {
    margin-bottom: 64px;
  }

  .gallery__grid {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(auto-fill, 216px);
    gap: 12px;
  }

  .places {
    max-width: none;
  }

  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: var(--content-wrap);
    margin: 0 auto;
  }

  .place__paragraph {
    width: var(--content-wrap);
    margin: 0 auto;
  }

  .place__website {
    width: var(--content-wrap);
    margin: 0 auto;
    align-self: flex-start;
  }

  .cover {
    margin-bottom: 64px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding: 33px 0 16px;
    max-width: var(--content-wrap);
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: var(--content-wrap);
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 24px 16px;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__link {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .footer__copyright {
    line-height: 14px;
  }
}
